{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block headAdd %}
    <meta charset="UTF-8">
    <title>Les fleurs du mal</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fondo.css'%}">
	{% endblock %}
<script src="{% static 'jsAutores.js' %}">
</script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

</head>
{% block bodyAdd %}
<body  onload="cambiarValores()" background="{% static '275.jpg'%}">{% endblock %}

{% block tituloAdd %}



<h1><a href="javascript:history.back(-1);" id="menu">Regresar</a>{% block textoAdd %}Agregar Libro{% endblock %} </h1>
{% endblock%}
	<form method="post">{% csrf_token %}
		{{ form.as_p}}
		<button type="submit" name="button" class="btn btn-primary" {% block onclick %} onclick="lowerT()" {% endblock %}>Guardar</button>


	</form>
</body>

</html>