{% extends 'registration/password_reset_form'%}
{% block content%}

{% if validlink %}

<h1>Nueva Contraseña</h1>

<form method="get">

    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_passowrd1">Nueva Contraseña:</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme la Contraseña:</label>{{ form.new_passowrd2 }}
    <input type="submit" value="Cambiar mi Contraseña">

</form>

{% else %}
<h1>ENLACE INVALIDO: ESTE ENLACE YA A SIDO UTILIZADO</h1>
{% endif %}

{% endblock %}