/*img:hover {filter: grayscale(80%);}*/

/* Efectos al poner mouse sobre un libro*/
embed:focus {
  outline: none;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}


.container {
  width: 200px;
  height: 200px;
  
  left: 0;
  right: 0;
  margin:  auto;
  top: 20px;
}

div{
  display: inline-block;
}
.div-img {
  
  margin-left: 2px;
  margin-right: 2px;
}
.div-img .img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

#text{
  font-size: 1px;
}

.div-img .text {
  font-family: 'Open Sans';
  padding-top: -50px;
    margin:0px;
  color: white;
  text-align: center;
  width: 100%;
  transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  opacity: 0;
  transition: transfom opacity 1.5s;
}
.div-img:hover .img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.div-img:hover .text {
  transform: translate(0px, -20px);
  opacity: 1;
}