{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les fleurs du mal</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css'%}">
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/buscar.js'%}"></script>
    <script src="{% static 'js/url.js'%}"></script>
</head>
<body background="{% static '275.jpg'%}" onload="link()">



<nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>



    <h1	style="color:white">AGREGAR {%block agregar%}AUTOR{%endblock%}</h1>
	<form class="form-inline" id="formulario" action="#" onsubmit='return buscarNombre("revista")' autocomplete="off">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="buscar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>



      {%block nav%}<div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnUsuario">




                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <a href="/f/" id="cierre de sesion">Cerrar Sesion</a>

                </div>
            </div>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Libros
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/libros/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/libro/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">
          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autores
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/autores/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/autor/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Categorias
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/categorias/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/categoria/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Editoriales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/editoriales/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/editorial/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Revistas
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/revistas/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/revista/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sucursales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/sucursales/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/sucursal/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/servicios/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/servicio/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/reportesA">Libros</a>
                    <a class="dropdown-item" href="#">Revistas</a>
                    <a class="dropdown-item" href="/reportes-Autores">Autores</a>
                    <a class="dropdown-item" href="#">Sucursales</a>
                </div>
            </div>
        </li>

    </ul>

  </div>{%endblock%}

    </nav>
<table border="2" width="1920" bgcolor="white">
    {% if l %}
    <thead>
    <th>Titulo</th>
    <th>Categria</th>
    <th>Sucursales</th>
    <th>No Paginas</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>
    </thead>
    <tbody>
    {% for a in l %}
        {% if a.status_revista.lower == 'a' and a.categoria.status_categoria.lower == 'a'%}
				<tr>
					<td>
						{{a.titulo_revista.capitalize}}
					</td>
                    <td>
                        {{a.categoria.nombre_categoria.capitalize}}
                    </td>
                    <td>
                        <p>
                    {% for u in a.sucursal.all %}
                        {% if u.status_sucursal.lower == 'a'%}
                        {{u}},
                            {% endif %}

                    {% endfor %}
                        </p>
                    </td>
					<td>
					{{a.no_paginas_revista}}
					</td>
                    <td>{{a.fecha_creacion_revista}}
                    </td>
                    <td>{{a.fecha_modificacion_revista}}
                    </td>
					<td>
                       <a id="EliminarRevista{{a.id_revista}}" class="btn btn-danger" href="/eliminar-revista/{{a.id_revista}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarRevista{{a.id_revista}}">Editar</a>
                    </td>
				</tr>
    {% endif%}
{% endfor%}

    {%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_revista.lower == 'a'%}

                 document.getElementById("EditarRevista{{a.id_revista}}").href="/editar-revista/{{a.id_revista}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarRevista{{a.id_revista}}").href="/eliminar-revista/{{a.id_revista}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
{%endblock%}

{% else %}
        <h1 style="background-color:white">NO HAY REVISTAS CON ESE NOMBRE :(</h1>
{% endif %}
<script>
    var ni = carga();
</script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>