{% extends 'base/baseBuscar.html'%}
{% block tituloNav %}CATEGORIAS{% endblock %}
{% block regresar%}<a class="navbar-brand" href="/biblioteca/categorias">CATEGORIAS</a>{% endblock %}
{% block formBuscar %}<form class="form-inline" id="formulario" action="#" onsubmit="return buscarcategoria()">{% endblock %}


{% block thead %}
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de Modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>

{% endblock %}

{% block td %}
{% if a.status_categoria.lower == 'a' %}
					<td>
						{{a.nombre_categoria.capitalize}}
					</td>
					<td>
						{{a.descripcion_categoria.capitalize}}
					</td>
                    <td>{{a.fecha_creacion_categoria}}
                    </td>
                    <td>{{a.fecha_modificacion_categoria}}
                    </td>
					<td>
                       <a id="EliminarCategoria{{a.id_categoria}}" class="btn btn-danger" href="http://127.0.0.1:8000/biblioteca/eliminar-categoria/{{a.id_categoria}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarCategoria{{a.id_categoria}}">Editar</a>
                    </td>
				</tr>
    {% endif %}
{% endblock%}

    {%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_categoria.lower == 'a'%}

                 document.getElementById("EditarCategoria{{a.id_categoria}}").href="http://127.0.0.1:8000/biblioteca/editar-categoria/{{a.id_categoria}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarCategoria{{a.id_categoria}}").href="http://127.0.0.1:8000/biblioteca/eliminar-categoria/{{a.id_categoria}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
{%endblock%}
{% block nohay %}NO HAY CATEGORIAS CON ESE NOMBRE :({% endblock %}