<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>metodo post</title>
</head>
<body>
<input type="hidden">
<form method="post" action="er2" autocomplete="off">

    <label for="username">Nombre de usuraio:</label>
    <input type="text" name="username">
    <label for="password">Constraseña:</label>
    <input type="password" name="password">
   <!--- <a href="/password_reset/">Olvidaste tu contraseña?</a>--->
    <button type="submit" name="button" class="btn btn-primary" >Guardar</button>
</form>
</body>
</html>