{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static '275.jpg'%}">
<link rel="stylesheet" href="{% static 'css/efectos.css'%}">





{%for s in c%}
    {%load tz%}
    <h1 style="color:white">{{s.nombre_categoria.capitalize}}</h1>
    {%for a in l%}
        {%if a.categoria.nombre_categoria == s.nombre_categoria%}
            <div class="container">
                <div class="div-img" >
                    <a href="/mostrarlibro/{{ a.titulo_libro }}/{{ a.vistas }}"><img class="img" src="https://s3-eu-west-1.amazonaws.com/bucket.images.1/portadas/{{ a.titulo_libro.split|join:'' }}.jpg" title="Foto10" alt="Foto10"></a>
                    <div class="text" >{{a.titulo_libro.capitalize}}</div>
                </div>
            </div>
        {%endif%}
    {%endfor%}
{%endfor%}

</body>
</html>