{% extends 'base/baseLista.html'%}
{% block tituloNav%}REVISTAS{% endblock%}
{% block formBuscar %}<form class="form-inline my-2 my-lg-0" id="formulario" action="#" onsubmit="return buscarNombre('revista')" autocomplete="off">{% endblock %}


{% block thead %} <thead>
    <th>Titulo</th>
    <th>Categoria</th>
    <th>Sucirsales</th>
    <th>Numero de paginas</th>
    <th>Costo</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>
    </thead>
{% endblock %}

{% block tr %}
    {% if a.categoria.status_categoria.lower == 'a' and a.status_revista.lower == 'a'%}
                <tr>
					<td>
						{{a.titulo_revista.capitalize}}
					</td>

                    <td>{{a.categoria.nombre_categoria.capitalize}}
                    </td>
                    <td>
                        <p>
                    {% for u in a.sucursal.all %}
                        {% if u.status_sucursal.lower == 'a'%}
                        {{u}},
                            {% endif %}

                    {% endfor %}
                        </p>
                    </td>

                    <td>
						{{a.no_paginas_revista}}
					</td>
                    <td>
                        {{a.costo}}
                    </td>
                    <td>{{a.fecha_creacion_revista}}
                    </td>
                    <td>{{a.fecha_modificacion_revista}}
                    </td>
					<td>
                       <a id="EliminarRevista{{a.id_revista}}" class="btn btn-danger" href="http://127.0.0.1:8000/biblioteca/eliminar-revista/{{a.id_revista}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarRevista{{a.id_revista}}">Editar</a>
                    </td>
				</tr>
    {% endif%}
{% endblock%}

    {%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_revista.lower == 'a' and a.categoria.status_categoria.lower == 'a'%}

                 document.getElementById("EditarRevista{{a.id_revista}}").href="http://127.0.0.1:8000/biblioteca/editar-revista/{{a.id_revista}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarRevista{{a.id_revista}}").href="http://127.0.0.1:8000/biblioteca/eliminar-revista/{{a.id_revista}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
    {%for a in l%}
    {{a.categoria.status_categoria}}
    {%endfor%}
{%endblock%}

{% block nohay %}NO HAY REVISTAS{% endblock %}