{% extends 'base/baseLista.html'%}
{% block tituloNav %}SUCURSALES{% endblock %}
{% block formBuscar %}<form class="form-inline my-2 my-lg-0" id="formulario" action="#" onsubmit="return buscarNombre('sucursal')" autocomplete="off">{% endblock %}


{% block thead %} <thead>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Telefono</th>
    <th>Servicios</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de Modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>
    </thead>
{% endblock %}

{% block tr %}
    {% if a.status_sucursal.lower == 'a'%}
                <tr>
					<td>
						{{a.nombre_sucursal.capitalize}}
					</td>
                    <td>
                        {{a.descripcion_sucursal.capitalize}}
                    </td>
					<td>
						{{a.telefono_sucursal}}
					</td>
                    <td>
                        <p>
                    {% for u in a.servicio.all %}
                        {% if u.status_servicio.lower == 'a'%}
                        {{u}},
                            {% endif %}

                    {% endfor %}
                        </p>
                    </td>
                    <td>{{a.fecha_creacion_sucursal}}
                    </td>
                    <td>{{a.fecha_modificacion_sucursal}}
                    </td>
					<td>
                       <a id="EliminarSucursal{{a.id_sucursal}}" class="btn btn-danger" href="http://127.0.0.1:8000/biblioteca/eliminar-sucursal/{{a.id_sucursal}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarSucursal{{a.id_sucursal}}">Editar</a>
                    </td>
				</tr>
    {% endif %}
{% endblock%}
{%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_sucursal.lower == 'a'%}

                 document.getElementById("EditarSucursal{{a.id_sucursal}}").href="http://127.0.0.1:8000/biblioteca/editar-sucursal/{{a.id_sucursal}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarSucursal{{a.id_sucursal}}").href="http://127.0.0.1:8000/biblioteca/eliminar-sucursal/{{a.id_sucursal}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
{%endblock%}
{% block nohay %}NO HAY SUCURSALES{% endblock %}