{% extends 'base/baseLista.html'%}
{% block tituloNav %}EDITORIALES{% endblock %}
{% block formBuscar %}<form class="form-inline my-2 my-lg-0" id="formulario" action="#" onsubmit="return buscarNombre('editorial')" autocomplete="off">{% endblock %}


{% block thead %} <thead>
    <th>Nombre</th>
    <th>Pais</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de Modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>
    </thead>
{% endblock %}

{% block tr %}
    {% if a.status_editorial.lower == 'a'%}
                <tr>
					<td>
						{{a.nombre_editorial.capitalize}}
					</td>
					<td>
						{{a.pais_editorial.capitalize}}
					</td>
                    <td>{{a.fecha_creacion_editorial}}
                    </td>
                    <td>{{a.fecha_modificacion_editorial}}
                    </td>
					<td>
                       <a id="EliminarEditorial{{a.id_editorial}}" class="btn btn-danger" href="http://127.0.0.1:8000/biblioteca/eliminar-editorial/{{a.id_editorial}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarEditorial{{a.id_editorial}}">Editar</a>
                    </td>
				</tr>
    {% endif %}
{% endblock%}
{%block corr%}
    <script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_editorial.lower == 'a'%}

                 document.getElementById("EditarEditorial{{a.id_editorial}}").href="http://127.0.0.1:8000/biblioteca/editar-editorial/{{a.id_editorial}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarEditorial{{a.id_editorial}}").href="http://127.0.0.1:8000/biblioteca/eliminar-editorial/{{a.id_editorial}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
{%endblock%}

{% block nohay %}NO HAY EDITORIALES{% endblock %}