{% extends 'base/baseLista.html'%}
{% block tituloNav%}LIBROS{% endblock%}
{% block formBuscar %}<form class="form-inline my-2 my-lg-0" id="formulario" action="#" onsubmit="return buscarNombre('libro')" autocomplete="off">{% endblock %}


{% block thead %}


    <thead>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Categoria</th>
    <th>Editorial</th>
    <th>Numero de paginas</th>
    <th>Sucursales</th>
    <th>Sinopsis</th>
    <th>Vistas</th>
    <th>Costo</th>
    <th>Fecha de Creacion</th>
    <th>Fecha de modificacion</th>
    <th>Eliminar</th>
    <th>Editar</th>
    </thead>
{% endblock %}


{% block tr %}
    {% if a.autor.status_autor.lower == 'a' and a.editorial.status_editorial.lower == 'a' and a.categoria.status_categoria.lower == 'a' and a.status_libro.lower == 'a' %}
                <tr>
					<td>
						{{a.titulo_libro.capitalize}}
					</td>
					<td>
						{{a.autor.nombre_autor.capitalize}}{{" "}}{{a.autor.apellidos_autor.capitalize}}
					</td>
                    <td>{{a.categoria.nombre_categoria.capitalize}}
                    </td>
                    <td>
						{{a.editorial.nombre_editorial.capitalize}}
					</td>
                    <td>
						{{a.no_paginas_libro}}
					</td>
                    <td>
                        <p>
                    {% for u in a.sucursal.all %}
                        {% if u.status_sucursal.lower == 'a'%}
                        {{u}},
                            {% endif %}

                    {% endfor %}
                        </p>
                    </td>
                    <td>
                        {%if a.sinopsis != 'o'%}
                        tiene sinopsis
                        {%else%}
                        no tiene sinopsis
                        {%endif%}
                    </td>
                    <td>
                        {{a.vistas}}
                    </td>
                    <td>
                        {{a.costo}}
                    </td>
                    <td>
                        
                        {{a.fecha_creacion_libro}}

                    </td>
                    <td>{{a.fecha_modificacion_libro}}
                    </td>
					<td>
                       <a id="EliminarLibro{{a.id_libro}}" class="btn btn-danger" href="/eliminar-libro/{{a.id_libro}}/">Eliminar</a>
					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarLibro{{a.id_libro}}">Editar</a>
                    </td>
				</tr>
    {% endif %}

{% endblock%}
{%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_libro.lower == 'a'%}

                 document.getElementById("EditarLibro{{a.id_libro}}").href="/editar-libro/{{a.id_libro}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarLibro{{a.id_libro}}").href="/eliminar-libro/{{a.id_libro}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>

    {% if messages %}
    <script>
        alert("entro");
    </script>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{%endblock%}
{% block nohay %}NO HAY LIBROS{% endblock %}
