{% extends 'base/baseLista.html'%}
{% block tituloNav %}AUTORES{% endblock %}
{% block nohay %}NO HAY AUTORES{% endblock %}

	{% block tr %}
            {% if a.status_autor.lower == 'a'%}
                <tr>
					<td>
						{{a.nombre_autor.capitalize}}
					</td>
					<td>
						{{a.apellidos_autor.capitalize}}
					</td>
                    <td>{{a.nacionalidad_autor.capitalize}}
                    </td>
                    <td>
                       {{a.fecha_creacion_autor}}

                    </td>
                    <td>{{a.fecha_modificacion_autor}}
                    </td>
					<td>
                        {% for k in s %}
                        <a id="EliminarAutor{{a.id_autor}}" class="btn btn-danger" href="/eliminar-autor/{{a.id_autor}}/">Eliminar</a>

					</td>
                    <td>
                        <a href="" class="btn btn-info" id="EditarAutor{{a.id_autor}}">Editar</a>
                        {% endfor %}
                    </td>
				</tr>
            {% endif %}
                {% endblock%}
{%block corr%}
<script>
cadVariables = window.location.toString();

arrVariables = cadVariables.split("/");
{% for a in l%}

                {% if a.status_autor.lower == 'a'%}

                 document.getElementById("EditarAutor{{a.id_autor}}").href="/editar-autor/{{a.id_autor}}/"+arrVariables[arrVariables.length-1];
                 document.getElementById("EliminarAutor{{a.id_autor}}").href="/eliminar-autor/{{a.id_autor}}/"+arrVariables[arrVariables.length-1];
                {%endif%}
            {%endfor%}
</script>
{%endblock%}