{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="1;URL=http:127.0.0.1:8000/biblioteca/">
    <title>metodo post</title>
</head>
<body onload="">
<form action="http://127.0.0.1:8000/biblioteca/er">
    {% csrf_token %}
    <label for="username">Nombre de usuraio:</label>
    <input type="text" name="username">
    <label for="password">Constraseña:</label>
    <input type="password" name="password">
   <!--- <a href="http://127.0.0.1:8000/password_reset/">Olvidaste tu contraseña?</a>--->
    <button type="submit" name="button" class="btn btn-primary" >Guardar</button>
</form>
<a href="http://127.0.0.1:8000/biblioteca/registro">Registrarse</a>
{% if l %}
        <h1>Error de inicio de sesion</h1>

{%endif%}
<script src="{% static 'js/editar.js' %}"></script>
</body>
</html>