{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les fleurs du mal</title>
    {% block link %}<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css'%}">
  <link rel="stylesheet" href="{% static 'css/opciones.css'%}">  {% endblock %}
    {% block script %}<script src="{% static 'js/reportes.js'%}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>{% endblock %}
      <script src="{% static 'js/url.js'%}"></script>
     <script src="{% static 'js/buscar.js'%}"></script>
</head>

{% block body %}<body background="{% static '275.jpg'%}" onload="desactivarR()">{% endblock%}

{% block nav %}

<nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>



    <h1 style="color:white">{% block tituloNav %}BIENVENIDO{% endblock %}</h1>


     {% block formBuscar %}<form class="form-inline" id="formulario" action="#" onsubmit="return buscarNombre('autor')" autocomplete="off">{% endblock %}
      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="buscar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:pasarUsuario('/inicio/','ni')">Inicio <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnUsuario">

                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <a href="/f/" id="cierre de sesion">Cerrar Sesion</a>

                </div>
            </div>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Libros
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/libros/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/libro/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">
          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autores
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/autores/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/autor/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Categorias
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/categorias/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/categoria/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Editoriales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/editoriales/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/editorial/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Revistas
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/revistas/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/revista/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sucursales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/sucursales/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/sucursal/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/servicios/','ni')">Ver</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/servicio/add/','ni')">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:pasarUsuario('/reportes-Libros/','ni')">Libros</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/reportes-Revistas/','ni')">Revistas</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/reportes-Autores/','ni')">Autores</a>
                    <a class="dropdown-item" href="javascript:pasarUsuario('/reportes-Sucursales/','ni')">Sucursales</a>
                </div>
            </div>
        </li>

    </ul>

  </div>

    </nav>
{% endblock %}
{% block reporte %}

<script type="text/javascript">
$('document').ready(
    function(){
        $('input:radio').click(
            function(){
                calR();
            }
        );
        $('#categorias').change(
            function(){
                vercategoriaR()
            }
        );


    }
);

</script>

<div style="background-color:white">
<h2>Opcion</h2>
    <label>
<input type="radio" name="opcion" id="fecha" value="1">
Por fecha</label>

    <br>
    <label>
<input type="radio" name="opcion" id="categoria" value="2">
categoria</label>

</div>

<form method="get" action="#" id="fechas" onsubmit="return verfechas('revistas')">
        <input type="date" id="finicio">
        <input type="date" id="ffinal">
        <button type="submit">ver</button>
</form>


{% endblock%}
{% block categorias%}<!---block que se editara  al enviar al segundo html pa llenar las categoria y seguir el ciclo(el html reporte-cantidad-libros-categoria enviara a un nuevo
html el cual heredara ese html y editara el block categorias y ese html sera enviado con una clase del modelo categorias)-->

<div id="categorias">
    {% if c and l%}
    <select name="" id="select">
    <option value="">--Seleccione la categoria--</option>
        {%for r in l%}
        {% if r.categoria.status_categoria.lower == 'a'%}

        <option value="{{r.categoria.id_categoria}}">{{r.categoria.nombre_categoria.capitalize}}</option>

        {%endif%}
        {% endfor %}
    </select>

    {% else %}
        <h1>NO HAY AUTORES</h1>
    {% endif %}

</div>

{% endblock %}
<script>
    var ni = carga();
</script>
{% block reporte2%}

{%endblock%}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>