{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les fleurs du mal</title>
    {% block link %}<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css'%}">
  <link rel="stylesheet" href="{% static 'css/opciones.css'%}">  {% endblock %}
    {% block script %}<script src="{% static 'js/editar.js'%}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>{% endblock %}
</head>

{% block body %}<body background="{% static '275.jpg'%}" onload="desactivarC()">{% endblock%}

{% block nav %}

<nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>



    <h1 style="color:white">{% block tituloNav %}BIENVENIDO{% endblock %}</h1>




      <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/biblioteca/inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Libros
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/libros">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/libro/add">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">
          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autores
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/autores">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/autor/add">Agregar</a>
                </div>
            </div>
      </li>
      <li class="nav-item">

          <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Categorias
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/categorias">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/categoria/add">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Editoriales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/editoriales">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/editorial/add">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">

            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Revistas
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/revistas">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/revista/add">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sucursales
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/sucursales">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/sucursal/add">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/servicios">Ver</a>
                    <a class="dropdown-item" href="/biblioteca/servicio/add">Agregar</a>
                </div>
            </div>
      </li>
        <li class="nav-item">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="/biblioteca/reportesA">Libros</a>
                    <a class="dropdown-item" href="#">Revistas</a>
                    <a class="dropdown-item" href="#">Autores</a>
                    <a class="dropdown-item" href="#">Sucursales</a>
                </div>
            </div>
        </li>

    </ul>

  </div>

    </nav>
{% endblock %}
{% block reporte %}

<script type="text/javascript">
$('document').ready(
    function(){
        $('input:radio').click(
            function(){
                cal2();
            }
        );
        $('#categorias').change(
            function(){
                vercategoria()
            }
        );
    }
);

</script>

<div style="background-color:white">
<h2>Opcion</h2>
    <label>
<input type="radio" name="opcion" id="fecha" value="1">
Por fecha</label>
    <br>
    <label>
<input type="radio" name="opcion" id="autor" value="2">
Por autor</label>
    <br>
    <label>
<input type="radio" name="opcion" id="categoria" value="3">
categoria</label>

</div>

<form method="get" action="#" id="fechas" onsubmit="return verfechas()">
        <input type="date" id="finicio">
        <input type="date" id="ffinal">
        <button type="submit">ver</button>
</form>

<div id="autores">
    {% if l %}
    <select name="" id="au">

        {%for a in l%}

        <option value="{{a.id_autor}}">{{a.nombre_autor.capitalize}}{{" "}}{{a.apellidos_autor.capitalize}}</option>
        {% endfor %}
    </select>
    {% else %}
        <h1>NO HAY AUTORES</h1>
    {% endif %}
</div>
{% endblock%}
{% block categorias%}<!---block que se editara  al enviar al segundo html pa llenar las categoria y seguir el ciclo(el html reporte-cantidad-libros-categoria enviara a un nuevo
html el cual heredara ese html y editara el block categorias y ese html sera enviado con una clase del modelo categorias)-->

<div id="categorias">
    {% if l %}
    <select name="" id="select">
    <option value="">--Seleccione la categoria--</option>
        {%for a in l%}
        {% if a.status_categoria.lower == 'a'%}

        <option value="{{a.id_categoria}}">{{a.nombre_categoria.capitalize}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <button onclick="veropcion()">aceptar</button>
    {% else %}
        <h1>NO HAY AUTORES</h1>
    {% endif %}

</div>

{% endblock %}
{% block reporte2%}

{%endblock%}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>