{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/saldo.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/url.js'%}"></script>
    <script src="{% static 'js/saldo.js'%}"></script>
</head>
<body background="{% static '275.jpg'%}">
<nav class="navbar navbar-dark bg-dark">







            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>{% for a in us %}
                {{a.username}}
                {%endfor%}
            </button>
            <h1 style="color:white" id="biblio">BIBLIOTECA</h1>
            <h1 style="color:white">{% block tituloNav %}BIENVENIDO{% endblock %}</h1>
                <div class="navbar-collapse collapse" id="navbarColor01" style="">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a href="javascript:pasarUsuario('/biblioteca/saldo/','ni')">agregar Saldo</a>
                        </li>

                        <li class="nav-item active">
                            <a href="javascript:pasarUsuario('/biblioteca/Logout/','ni')">cerrar sesion</a>
                        </li>



                    </ul>

                </div>

        </nav>
<div id="divSaldo">
    <form action="/biblioteca/agregarSaldo" method="get" id="formSaldo">
        {% csrf_token %}
        {% for a in us%}
            <h2 id="username">{{a.username}}</h2>
            <h2 id="saldoT">Saldo: {{a.saldo}}</h2>
        <input type="hidden" value="{{a.id_login}}" name="idLogin">
        <input type="hidden" value="{{a.saldo}}" name="saldoActual">
        <input type="hidden" value="{{a.username}}" name="username">
        {% endfor %}
        <input type="number" placeholder="Salgo a agregar" name="saldo" id="saldo">
        <button   onclick="" id="btnSaldo">Agregar</button>

    </form>
</div>

<script>
    $("form").submit(function(e){
    if(document.getElementById("saldo").value<=0){
     alert("No puede agregar valores negativos");
     e.preventDefault();
     }

     //resto código

 });
</script>
 {%for a in us%}

    <script>

var ni="{{a.username}}";
var nombre='';
var comp='';
    function pasarVariables(pagina, nombres) {

  nomVec = nombres.split(",");
  for (i=0; i<nomVec.length; i++){
    nombre = eval(nomVec[i]);
    comp = nomVec[i] + "=" + escape(eval(nomVec[i]))+"&";
    }
  pagina +=nombre
  pagina = pagina.substring(0,pagina.length);
  location.href=pagina;
}
</script>

    {%endfor%}
</body>
</html>